<!DOCTYPE html>
<html lang="zh-cn">

<head>
    <meta charset="UTF-8">
    <title>学生管理</title>
    <link rel="stylesheet" type="text/css" href="/thinkphp5/public/static/bootstrap-3.3.5-dist/css/bootstrap.min.css">
    <link rel="stylesheet" href="/thinkphp5/public/static/css/Home_index.css">
    <link rel="stylesheet" href="/thinkphp5/public/static/css/Admin_index.css">
    <link rel="shortcut icon" href="/thinkphp5/public/static/img/favicon.ico" />
</head>
<body >
<div class="navbar navbar-default">
    <div class="container">
        <div class="navbar-header">
            <a href="{:url('Home/index')}" class="navbar-brand">
            </a>
        </div>
        <ul class="nav navbar-nav">
            <li><a href="{:url('Home/index')}">LZ ⋅ 校园招聘</a></li>
        </ul>
        <ul class="nav navbar-nav navbar-right">
            <li >
                <a href="{:url('Admin/index')}" class="btn btn-default myself"><i class="glyphicon glyphicon-user"></i>&nbsp;管理员个人中心</a>
            </li>
            <li >
                <a href="{:url('Adminlogin/logOut')}" class="btn btn-danger logout"><i class="glyphicon glyphicon-off"></i>&nbsp;注销</a>
            </li>
        </ul>
    </div>
</div>
<div class="container">
<div class="row">
    <div class="col-md-12">
        <div class="row">
            <div class="col-md-10">
                <form class="form-inline">
                    <div class="form-group">
                        <label class="sr-only" for="name">姓名</label>
                        <input name="name" type="text" class="form-control"
                       placeholder="姓名..." value="{:input('get.name')}">
                    </div>
                    <button type="submit" class="btn btn-default"><i class="glyphicon glyphicon-search"></i>&nbsp;查询</button>
                </form>
            </div>
            <div class="col-md-1 text-right">
                <a href="{:url('add')}" class="btn btn-primary"><i class="glyphicon glyphicon-plus"></i>&nbsp;增加</a>
            </div>
        </div>
        <hr />
        <table class="table table-hover table-bordered">
            <tr class="info">
                <th>序号</th>
                <th>姓名</th>
                <th>用户名</th>
                <th>性别</th>
                <th>邮箱</th>
                <th>学校</th>
                <th>行业</th>
                <th>操作</th>
            </tr>
            {volist name="students" id="_Student" key="key"}
            <tr>
                <td>{$key}</td>
                <td>{$_Student->getData('name')}</td>
                <td>{$_Student->getData('username')}</td>
                <td>{eq name='_Student->getData("sex")' value='0'}男{else /}女{/eq}</td>
                <td>{$_Student->getData('email')}</td>
                <td>{$_Student->getData('school')}</td>
                <td>{$_Student->getData('profession')}</td>
                <td>
                    <a class="btn btn-sm btn-primary" href="{:url('edit?id=' . $_Student->getData('id'))}"><i class="glyphicon glyphicon-pencil"></i>&nbsp;编辑</a>
                    &nbsp;&nbsp;
                    <a class="btn btn-sm btn-danger" href="{:url('delete?id=' . $_Student->getData('id'))}"><i class="glyphicon glyphicon-trash"></i>&nbsp;删除</a>
                </td>
            </tr>
            {/volist}
        </table>
        <!--分页必须加的一条-->
        {$students->render()}
    </div>
</div>
</div>
</body>

</html>