<!DOCTYPE html>
<html lang="zh-hans">

<head>
    <meta charset="UTF-8">
    <title>发布招聘广告</title>
    <link rel="stylesheet" type="text/css" href="/thinkphp5/public/static/bootstrap-3.3.5-dist/css/bootstrap.min.css">
    <link rel="stylesheet" href="/thinkphp5/public/static/css/Home_index.css">
    <link rel="stylesheet" href="/thinkphp5/public/static/css/Ad_add.css">
    <link rel="shortcut icon" href="/thinkphp5/public/static/img/favicon.ico" />
</head>
<body >
<div class="navbar navbar-default">
    <div class="container">
        <div class="navbar-header">
            <a href="{:url('Home/index')}" class="navbar-brand">
            </a>
        </div>
        <ul class="nav navbar-nav">
            <li><a href="{:url('Home/index')}">LZ ⋅ 校园招聘</a></li>
        </ul>
        <ul class="nav navbar-nav navbar-right">
            <li >
                <a href="{:url('Hrmyself/index')}" class="btn btn-default myself"><i class="glyphicon glyphicon-user"></i>&nbsp;HR个人中心</a>
            </li>
            <li >
                <a href="{:url('Hrlogin/logOut')}" class="btn btn-danger logout"><i class="glyphicon glyphicon-off"></i>&nbsp;注销</a>
            </li>
        </ul>
    </div>
</div>
<div class="container">
<div class="row">
    <div class="col-md-12">
        <form  class="form-container" action="{:url('save')}" method="post">
            <div class="form-group">
                <label>职位名称:</label>
                <input class="form-control" type="text" name="jobName"  />
            </div>
            <div class="form-group">
                <label>招聘人数:</label>
                <input class="form-control" type="text" name="hireNumber"  />
            </div>
            <div class="form-group">
                <label>行业:</label>
                <input class="form-control" type="text" name="profession"  />
            </div>
            <div class="form-group">
                <label>城市:</label>
                <input class="form-control" type="text" name="city" />
            </div>
            <div class="form-group">
                <label>薪资:</label>
                <input class="form-control" type="text" name="salary" />
            </div>
            <div class="form-group">
                <label>职位信息:</label>
                <textarea class="form-control" type="text" name="jobInfo" cols="30" rows="10" ></textarea>
            </div>
            <div class="form-group">
                <label>联系方式:</label>
                <input class="form-control" type="text" name="contactInfo" />
            </div>
            <div class="form-group">
                <button class="btn btn-primary btn-block" type="submit">发布</button>
            </div>
        </form>
    </div>
</div>
</div>
</body>
</html>