<!DOCTYPE html>
<html lang="zh-cn">
<head>
    <meta charset="UTF-8">
    <title>登录</title>
    <link rel="stylesheet" href="/thinkphp5/public/static/css/bootstrap.min.css">
    <link rel="stylesheet" href="/thinkphp5/public/static/css/main.css">
    <link rel="shortcut icon" href="/thinkphp5/public/static/img/favicon.ico" />
</head>
<body>
<div class="navbar navbar-default">
    <div class="container">
        <div class="navbar-header">
            <a href="{:url('Home/index')}" class="navbar-brand">
            </a>
        </div>
        <ul class="nav navbar-nav">
            <li><a href="#">LZ ⋅ 校园招聘</a></li>
        </ul>
        <ul class="nav navbar-nav navbar-right">
            <li class="active"><a href="{:url('Login/index')}">登录</a></li>
            <li><a href="{:url('Signup/index')}">注册</a></li>
        </ul>
    </div>
</div>
<div class="container">
    <div class="form-container">
        <h1>登录 <small>没有账号？<a href="{:url('Adminsignup/index')}">注册</a></small></h1>
        <form action="{:url('login')}" method="post">
            <div class="form-group">
                <label for="username">用户名:</label>
                <input class="form-control" type="text" name="username" id="username" />
            </div>
            <div class="form-group">
                <label for="password">密码:</label>
                <input class="form-control" type="password" name="password" id="password" />
            </div>
            <div class="form-group">
                <button class="btn btn-primary btn-block" type="submit">提交</button>
            </div>
        </form>
    </div>
</div>
<div class="footer">
    © 2019 LZ校园招聘 中国互联网举报中心京ICP证1401号京ICP备125439号-3京公网安备
</div>
</body>
</html>